$active-button:#03fcf8;

*{
  color:white;
  font-family:'Oswald', sans-serif;
  box-sizing: border-box;
  list-style-type: none;
}
body{
  background: #2c2d2e;
}
header{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}
.player{
  width: 50%;
  height: 780px;
  background: #000;
  margin: 50px auto;
  padding: 50px;
  border-radius: 100px;
  background:linear-gradient(to left,#f02929, #f2a846);
  opacity:.7;

}
.clock{
  position: absolute;
  right: 100px;
  top: 50px;
  opacity: 0.6;
  font-size: 40px;

}
.contolPanel{
  width: 100%;
  height: 150px;
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
}
.play, .previous, .next{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  outline: none;
  background: #000;
  background:transparent;
  border:1px solid white;
}
.play:hover, .previous:hover, .next:hover{
  border:3px solid $active-button;
  color: $active-button;
  transform: translateY(5px);
}

.photo {
  width: 100%;
  opacity: 0.8;
  max-height: 350px;
  border-radius: 50px;
}
.previous, .next{
  font-size: 25px;
  margin: 0 20px;
  width: 50px;
  height: 50px;
  line-height: 40px;
}
.trackerContainer{
  width: 80%;
  height: 15px;
  background: grey;
  margin: 10px auto;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  flex-direction: row;

}
.trackerStrip{
  height: 15px;
  width: 0px;
  background: white;
  border: 3px solid grey;
  border-radius: 10px;


}
.musicTitle{
  font-size: 20px;
  text-align: center;
}
.trackerCircle{
  position: relative;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: 0px;
}
.trackerCircle:hover{
  border: 3px solid $active-button;
}
input{
  color:black;
}
.forbidden, {
  position: relative;
  border: 3px solid black;
  color:black;
  pointer-events: none;
  animation-name: forbidden;
  animation-duration: 700ms;
}

.trackerContainerWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.musicListContainer{
  position: absolute;
  width: 40%;
  height: 300px;
  left: 0;
  right: 0;
  top: 480px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0.45turn,black,#f7f2d7);
  overflow:auto;
  border-radius: 50px;
  opacity: 0.6;
  display: none;
  z-index: 2;
}
.musicList{
  padding:5% 15%;
  cursor: default;

  li{
    margin-bottom: 7px;
  }
  li:hover{
    font-size: 20px;
  }
}

.hideList{
  transform: rotate(180deg);
  margin-top: 20px;
}
.showList{
  margin-bottom: -10%;
}

@keyframes forbidden {
  0%{
    top: -5px;
  }
  25%{
    top: 5px;
  }
  50%{
    top: -5px;

  }
  75%{
    top: 5px;

  }
  100%{
    top: -5px;
  }
}